.project-container{
    background-color:green;
    width: 30vw;
    height: 30vh;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
   
}

.project-text{
  color: white;
  background-color: red;
  text-align: center;
  justify-content: center;
}

.rawg-clone-container{
  background-color: black;

}

.solar-panel-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  align-self: center;
}

.rawg-clone-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  align-self: center;
  justify-content: center;

}

.project-container:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

