@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.resume-container{
    background-color: black;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
    overflow:visible;
}

.resume-text{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(2rem, 8vw, 5rem); /* Responsive font size */
    padding: 10px;
}

.resume-content{
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    font-size: clamp(0.0001rem, 8vw, 1rem); /* Responsive font size */
}

.cutout{
    position: absolute;
    padding: 32px;
    background-color: white;
    top:-16px;
    right:-13px;
    width: 30%;
    border: white solid 1px;
    border-radius: 15px;
    width: 15vw;
    height: 2vh;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.resume-download-container{
    background-color: #b11e31;
    width: 100%;
    border-radius: 10px;
    margin-left: -10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    
    
}

.resume-download-container:hover .resume-download-text{
    background-color: #b11e31;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    transform: scale(1.05);

}



.resume-download-text{
    /* color: #b11e31; */
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    padding: 10px;
}